### Logs ###
*.log
logs
npm-debug.log*

### Backup Files ###
*.bak

### Runtime data ###
*.pid
*.seed
pids

### Code coverage directories used by tools like istanbul ###
coverage
lib-cov
.nyc_output

### Build directories ###
.build
.grunt
.serverless
.webpack
build/Release
docs
build

### Configuration Files ###
*.env
.env
.lock-wscript
env.yml

### Dependency directories ###
node_modules
jspm_packages
.npm

### Misc ###
.*.sw*
.idea
.node_repl_history
Session.vim

### OS ###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
